
* {
    padding: 0;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
}

/* ================================================================ */
/* BASE PAGE STYLES                                                 */
/* ================================================================ */
body {
    background-color: #000000;
    color: #ffbfbf;
    font-family: Spectral, sans-serif;
    line-height: 1.5;
    max-width: 900px;
    padding: 2rem;
}



/* ================================================================ */
/* HEADINGS                                                         */
/* ================================================================ */
#title,
h1,
h2,
h3,
h4,
h5,
h6,
.code_header {
    text-align: center;
    margin-bottom: 1rem;
}

#title {
    color: #fffcdd;
    font-size: 4rem;
    font-weight: bold;
    font-family: Cinzel, sans-serif;
}

h1 {
    color: #FFBE6F;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: Cinzel, sans-serif;
}

h2 {
    color: #b6a431;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: Cinzel, sans-serif;
}

h3 {
    color: #ff8b2a;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Cinzel, sans-serif;
}

h4 {
    color: #bdc37d;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Spectral, sans-serif;
}

h5 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    font-family: Spectral, sans-serif;
}



/* ================================================================ */
/* TEXT                                                             */
/* ================================================================ */
p {
    margin-bottom: 1rem;
}
p:last-child {
    margin-bottom: 0;
}




/* ================================================================ */
/* BLOCKS (Used to group headings with their related content.)      */
/* ================================================================ */

.block_1:last-child,
.block_2:last-child,
.block_3:last-child,
.block_4:last-child,
.block_5:last-child {
    margin-bottom: 0;
}

.block_1 {
    background-color: #1b1a1a;
    margin: 3rem;
    padding: 2rem;
    border-radius: 3px;
}

.block_2 {
    background-color: #000000;
    margin-bottom: 1.5rem;
    border: 1px solid #3a3a3a;
    padding: 2rem;
}

.block_3 {
    background-color: #202020;
    margin-bottom: 2rem;
    border: 1px solid #272727;
    padding: 1.5rem;
    border-radius: 5px;
}

.block_4 {
    background-color: #0c0c0c;
    margin-bottom: 1.5rem;
    border: 3px solid #000000;
    padding: 1.5rem;
    border-radius: 8px;
}

.block_5 {
    background-color: #000000;
    margin-bottom: 1rem;
    border: 1px solid #3a3a3a;
    padding: 1.5rem;
}




/* ================================================================ */
/* CODE + COMMAND BLOCKS                                            */
/* ================================================================ */
code {
    background-color: #291616;
    color: #c3b700;
    padding: 0.05rem 0.35rem;
    border-radius: 4px;
    font-family: monospace;
    font-size: 0.7rem;
}

pre {
    background-color: #291616;
    padding: 0.5rem;
    border-radius: 6px;
    overflow-x: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}



/* ================================================================ */
/* LISTS                                                            */
/* ================================================================ */
ul, ol {
    padding-left: 1rem;
    margin-bottom: 2rem;
}

ul li, ol li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.block_1 > ul:last-child,
.block_1 > ol:last-child,
.block_2 > ul:last-child,
.block_2 > ol:last-child,
.block_3 > ul:last-child,
.block_3 > ol:last-child,
.block_4 > ul:last-child,
.block_4 > ol:last-child,
li:last-child {
    margin-bottom: 0;
}

ol li::marker {
    font-weight: bold;
    color: #ffa879;
}

/* Tier 1 Unordered List Icon*/
ul > li::marker {
    content: "■ ";
    font-size: 1.2rem;
    color: #fffcdd;
}

/* Tier 2 Unordered List Icon*/
ul > li > ul > li::marker {
    content: "▼  ";
    font-size: 0.75rem;
    color: #ffd49e;
}

/* Tier 3 Unordered List Icon*/
ul > li > ul > li > ul > li::marker {
    content: "●  ";
    font-size: 0.8rem;
    color: #f69747;
}

/* Tier 4 Unordered List Icon*/
ul > li > ul > li > ul > li > ul > li::marker {
    content: "- ";
    font-size: 1rem;
    color: #fd6722;
}
